
@mixin post-tag {
  padding: 0.2rem;
  margin: 0 .2rem;
  background: rgb(181, 232, 83);
  color: #000000;
  &:hover {
    text-decoration: none;
  }
}

/**
 *  Meta data line below post title
 */
.post-meta {
  display: block;
  margin-top: 1.3rem;
  margin-bottom: 0.1rem;
  color: #9a9a9a;

  .post-tags {
    display: inline-block;
    a {
      @include post-tag;
      font-size: .8rem;
    }
  }
}

/**
 * Styles for _pages/tags.html
 */
.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    a {
      @include post-tag;
    }
  }
}